.neon-button {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #e9ce1f;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;

  border-radius: 50px;
}

.neon-button:hover {
  background: #e9ce1f;
  color: #050801;
  box-shadow: 0 0 5px #e9ce1f, 0 0 25px #e9ce1f, 0 0 50px #e9ce1f,
    0 0 200px #e9ce1f;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.neon-button span {
  position: absolute;
  display: block;
}

.neon-button span:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e9ce1f);
  animation: neon-animate1 1s linear infinite;
}

@keyframes neon-animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.neon-button span:nth-child(3) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e9ce1f);
  animation: neon-animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes neon-animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.neon-button span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #e9ce1f);
  animation: neon-animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes neon-animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neon-button span:nth-child(5) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e9ce1f);
  animation: neon-animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes neon-animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
